
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        <p style="margin: 0in 0in 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: center;"><span style='font-family: "Times New Roman", Times, serif; font-size: 24px;'><strong>Contact Information</strong></span></p>
        <p style="margin: 0in 0in 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: center;"><br></p>
        <p style="margin: 0in 0in 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: center;"><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Phone : +8801773238439</span></p>
        <p style="margin: 0in 0in 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: center;"><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Email:&nbsp;</span><a href="mailto:fahimnilay@gmail.com"><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>fahimnilay@gmail.com</span></a><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
        <p style="margin: 0in 0in 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: center;"><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>LinkedIn Profile URL:&nbsp;</span><span style='font-size:15px;line-height:107%;font-family:"Calibri",sans-serif;'><a href="https://www.linkedin.com/in/fahim-n-28809b113/"><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>https://www.linkedin.com/in/fahim-n-28809b113/</span></a></span></p>
        <button type="button"><a href="~/CvHome/Intro">Back to Homepage</a></button>
    </div>
</body>
</html>
