
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EduBackground</title>
</head>
<body>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><strong><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Educational Background :</span></strong></p>
    <div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
        <ul style="margin-bottom:0in;list-style-type: disc;margin-left:68px;">
            <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">BSc in Computer Science and Engineering (CSE)</span></strong></li>
        </ul>
    </div>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><strong><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>&nbsp;</span></strong></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>CGPA 3.75 out of 4.00</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Department of Computer Science &amp; Engineering</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>School of Engineering</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Passing Year: 2021</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>University: American International University Bangladesh (AIUB)</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    <div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
        <ul style="margin-bottom:0in;list-style-type: disc;margin-left:68px;">
            <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">Higher Secondary School Certificate (HSC)</span></strong></li>
        </ul>
    </div>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>GPA 4.58 out of 5.00</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Science Group</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Passing Year: 2017</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>College: Cantonment Public School &amp; College, Dinajpur</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
    <div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
        <ul style="margin-bottom:0in;list-style-type: disc;margin-left:68px;">
            <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">Secondary School Certificate (SSC)</span></strong></li>
        </ul>
    </div>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>GPA 4.72 out of 5.00</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Science Group</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Passing Year 2015</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>School: Dinajpur Zilla School</span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:78.0pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    <button type="button"><a href="~/CvHome/Intro">Back to Home</a></button>
</body>
</html>
