
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Intro</title>
</head>
<body>
    <div>
        <h1>Curriculum Vitae of Fahim Hasan Nilay </h1>
        <button type="button"><a href="~/CvHome/PersonalInfo">Personal Information</a></button>
        <button type="button"><a href="~/CvHome/EduBackground">Educational Background</a></button>
        <button type="button"><a href="~/CvHome/Skills">Skills</a></button>
        <button type="button"><a href="~/CvHome/Contact">Contact</a></button>

    </div>
</body>
</html>
