
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonalInfo</title>
</head>
<body>
    <div>
        <h1>Information</h1>
    </div>

    <p style="text-align: center;"><strong><span style='font-size:19px;line-height:107%;font-family:"Times New Roman",serif;'>&nbsp;Fahim Hasan Nilay</span></strong></p>
    <p style="text-align: center;"><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Block &ndash;D, Road-12</span></p>
    <p style="text-align: center;"><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>House no: 385, Bashundhara R/A, Dhaka</span></p>
    <p><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'><br></span></p>
    <p style="text-align: center;"><span class="fr-close-ol"><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Father&rsquo;s Name: Md. Hasan Ali</span></span></p>
    <p style="text-align: center;"><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Mother&rsquo;s Name: Ferdausi Ara Begum</span></p>
    <p style="text-align: center;"><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Nationality: Bangladeshi</span></p>
    <p style="text-align: center;"><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Date of Birth: 22 February 2001</span></p>
    <p style="text-align: center;"><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Religion: Islam</span></p>

    <button type="button"><a href="~/CvHome/Intro">Back to Home</a></button>
</body>
</html>
