
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skills</title>
</head>
<body>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'><strong><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>Computer Expertise:&nbsp;</span></strong><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
    <ul style="list-style-type: disc;margin-left:68px;">
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>C Programming &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></li>
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>C# Programming and UI designing&nbsp;</span></li>
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>JAVA Programming</span></li>
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Python Programming</span></li>
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Html/CSS</span></li>
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Oracle Database Administratiom</span></li>
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Linux And Windows Environment</span></li>
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Web Developing And Designing&nbsp;</span></li>
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>AutoCAD (Orthographic and isometric projection, Drawing of the civil plan, Electric conduit drawing)</span></li>
    </ul>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>MS Office Skills:&nbsp;</span></strong></p>
    <ul style="list-style-type: disc;margin-left:68px;">
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Microsoft Word</span></li>
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Microsoft PowerPoint</span></li>
        <li><span style='line-height:107%;font-family:"Times New Roman",serif;font-size:16px;'>Microsoft Excel</span><span style="line-height:107%;font-family:&quot;Times New Roman&quot;,serif;font-size:16px;"></span></li>
    </ul>
    <button type="button"><a href="~/CvHome/Intro">Back to Home</a></button>
</body>
</html>
